.text{
    color: var(--ion-color-primary) !important;
}



.noticia-name{
    font-size: 12px;
    color:lightgray;
    text-align:justify
}



.noticia-description{
    text-align:justify
}

.titulo{
    font-size: 18px;
    size: 5%;
    padding-left: 75px;
}